@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 8px;
}

/* Fallback: older browsers */
input {
  border-radius: 2px;
  border: 1px solid black;
}

/* Modern: only after interaction */
@supports (selector(:user-invalid)) {
  input:user-invalid,
  textarea:user-invalid {
    border-color: red;
  }
  input:user-valid,
  textarea:user-valid {
    border-color: green;
  }
}

/* Fallback: older browsers */
@supports not (selector(user-invalid)) {
  input:invalid,
  textarea:invalid {
    border-color: red;
  }
  input:valid,
  textarea:valid {
    border-color: green;
  }
}

html,
body {
  height: 100%;
}

body {
  background-color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  display: grid;
  justify-items: center;
  grid-template-areas:
    "header"
    "project-list"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  gap: 1rem;
  height: 100%;
}

.page-header,
.page-add-project,
.page-project-list,
main,
.page-footer {
  width: 100%;
}

.page-header {
  grid-area: header;
  background-color: hsl(232, 23%, 87%);
  text-align: center;
  padding: 0.5rem;
}

.page-header h1 {
}

.page-project-list {
  grid-area: project-list;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.page-project-list h2 {
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  list-style-type: none;
  width: 100%;
}

.li-project {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 80%;
  height: 45px;
  border-radius: var(--border-radius);
}

.btn-project {
  width: 100%;
  border: none;
  background-color: hsl(240, 2%, 82%);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.btn-project-trash {
  border: none;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: hsl(0, 89%, 69%);
}

.btn-project-trash:disabled {
  background-color: hsla(0, 1%, 46%, 0.757);
}

.btn-add-project {
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(125, 88%, 47%);
}

.li-project-name {
  display: flex;
  gap: 0.4rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.li-project-name input {
  flex: 3;
  padding-left: 0.2rem;
  border-radius: 4px;
}

.btn-confirm-project,
.btn-cancel-project {
  flex: 1;
  border: 1px solid hsla(0, 0%, 61%, 0.887);
  border-radius: 4px;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  /* border: 1px solid red; */
}

.container-todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.container-add-project-btn,
.container-add-todo-btn {
  display: flex;
  justify-content: center;
}

.btn-add-project,
.btn-add-todo {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  padding: 1rem;
  border-radius: 16px;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(125, 88%, 47%);
}

.card {
  display: grid;
  border-radius: var(--border-radius);
  background-color: hsla(232, 23%, 87%, 1);
}

.card-todo {
  grid-template-areas:
    "todo-dueDate todo-priority todo-done todo-div-kebab"
    "todo-title todo-title todo-title todo-btn-trash";
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.card-todo-expanded {
  grid-template-areas:
    "todo-dueDate todo-priority todo-done todo-div-kebab"
    "todo-title todo-title todo-title todo-btn-trash"
    "todo-description todo-description todo-description todo-description";
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.card-todo-editing {
  grid-template-areas:
    "input-dueDate-edit todo-priority todo-done todo-div-kebab"
    "edit-div-title edit-div-title  edit-div-title edit-div-title"
    "edit-div-description edit-div-description edit-div-description todo-div-edit-btns";
  align-items: center;
  /* gap: 0.5rem; */
  column-gap: 0.5rem;
  padding: 1rem;
}

.todo-dueDate {
  grid-area: todo-dueDate;
}

/* used in normal and edit mode */
.todo-priority {
  grid-area: todo-priority;
  align-self: start;
}

/* used in normal and edit mode */
.todo-done {
  grid-area: todo-done;

  width: 20px;
  height: 20px;
  justify-self: end;
  align-self: start;

  border: 1px solid hsl(0, 0%, 41%);
  border-radius: 4px;
  background-color: white;

  position: relative;
  appearance: none;
  transition: all 1.3s;
}

.todo-done:checked {
  border-color: hsl(207, 71%, 46%);
  background-color: hsl(215, 79%, 56%);
}

.todo-done:checked:after {
  content: "✔";
  position: absolute;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  color: hsl(0, 0%, 100%);
  transform: translate(-50%, -50%);
}

/* used in normal and edit mode */
.todo-div-kebab {
  grid-area: todo-div-kebab;

  display: flex;
  justify-content: end;
  position: relative;
  align-self: start;

  /* border: 1px solid red; */
}

.kebab-menu-list {
  list-style-type: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border-radius: 4px;
  border: 1px solid rgb(163, 163, 163);
  background-color: hsl(0, 1%, 82%);
}

.kebab-menu-list li {
}

.btn-kebab-edit,
.btn-kebab-delete {
  width: 100%;
  padding: 0.1rem 0.2rem;
  border: none;
}

.todo-title {
  grid-area: todo-title;
  font-weight: bold;
}

.todo-description {
}

.todo-btn-trash {
  grid-area: todo-btn-trash;
  justify-self: end;
  align-self: end;
  border: none;
  width: 20px;
  height: 20px;
}

/* classes for items in edit mode */
.edit-todo-div-date {
  display: flex;
  flex-direction: column;
  gap: 1px;

  /* border: 1px solid red; */
}

.edit-input-dueDate {
  /* border: 2px solid red; */
}

.edit-div-title {
  grid-area: edit-div-title;
  display: flex;
  flex-direction: column;

  /* border: 1px solid red; */
}

.input-title-edit {
  padding: 0.2rem;
}

.edit-div-description {
  grid-area: edit-div-description;

  display: flex;
  flex-direction: column;

  /* border: 1px solid red; */
}

.textarea-edit-todo {
  resize: none;
  padding: 0.4rem 0.2rem;
}

.todo-div-edit-btns {
  grid-area: todo-div-edit-btns;
  align-self: end;

  display: flex;
  gap: 0.5rem;
}

.card-create-todo {
  grid-template-areas:
    "create-todo-date create-todo-priority"
    "create-todo-title create-todo-title"
    "create-todo-description create-todo-buttons";
  column-gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.card-edit-todo {
  grid-template-areas:
    "create-todo-date create-todo-priority edit-todo-checkbox"
    "create-todo-title create-todo-title create-todo-title"
    "create-todo-description create-todo-description create-todo-buttons";
  gap: 1rem;
  padding: 1rem;
}

.create-todo-div-date {
  grid-area: create-todo-date;

  display: flex;
  flex-direction: column;
  gap: 1px;
  /* min-height: 40px; */
  /* background-color: silver; */
  /* border: 1px solid red; */
}

.create-todo-date {
}

.create-todo-date-span {
  /* border: 1px solid blue; */
}

.create-todo-priority {
  grid-area: create-todo-priority;

  align-self: start;
  /* border: 2px solid red; */
}

.create-todo-title {
  grid-area: create-todo-title;

  display: flex;
  flex-direction: column;
  gap: 1px;
  /* min-height: 60px; */
  /* background-color: pink; */
  /* border: 1px solid rgb(17, 0, 255); */
}

.input-title {
  padding: 0.2rem;
}

.create-todo-title-span {
  /* border: 1px solid red; */
}

.create-todo-description {
  grid-area: create-todo-description;

  display: flex;
  flex-direction: column;
  gap: 1px;
  /* min-height: 98px; */
  /* background-color: grey; */
  /* border: 1px solid red; */
}

.textarea-description {
  resize: none;
  padding: 0.4rem 0.2rem;
}

.create-todo-description-span {
  /* border: 1px solid red; */
}

.create-todo-buttons {
  grid-area: create-todo-buttons;

  display: flex;
  justify-content: end;
  align-items: end;
  gap: 0.2rem;
}

.btn-confirm-create-todo {
  /* border: 5px solid red; */
}

.btn-cancel-create-todo {
  /* border: 5px solid red; */
}

/* page footer */
.page-footer {
  grid-area: footer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--bg-footer);
}

.footer-header {
  font-weight: normal;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
}

.footer-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.fa.fa-twitter::before {
  content: "𝕏";
}

.img-solo-learn {
  width: 20px;
  height: 20px;
}

.footer-name {
  font-size: 0.8rem;
}

.link-text {
  text-decoration: underline;
}

/* ==================== */
.is-hidden {
  display: none;
}

.activeProject {
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: hsl(215, 83%, 50%);
}

.checked {
  text-decoration: line-through;
  color: grey;
}

.invalid {
  visibility: hidden;
  color: red;
  font-size: 0.8rem;
}

.is-visible {
  visibility: visible;
}

@media (max-width: 480px) {
  body {
    /* border: 1px solid red; */
  }
}
