@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 8px;
  --border-color: hsla(215, 67%, 41%, 0.5);
  --col-header-footer: white;
  --bg-color-header-footer: hsl(215, 67%, 41%);
  /* btn-project and btn.project.activeProject */
  --bg-project-btn: hsl(240, 2%, 82%);
  --bg-project-btn-hover: hsl(240, 2%, 85%);
  --bg-project-btn-active: hsl(215, 83%, 50%);
  --bg-project-btn-active-hover: hsl(215, 83%, 55%);
  /* .btn-add-project && .btn-add-todo */
  --bg-add-btn: hsl(118, 100%, 25%);
  --bg-add-btn-hover: hsl(118, 100%, 30%);
  /* .btn-confirm-project && btn-cancel-project */
  --bg-confirm-cancel-project-btn: hsl(240, 0%, 100%);
  --bg-confirm-cancel-project-btn-hover: hsl(240, 2%, 95%);
  /* btn-kebab-menu-project*/
  --bg-kebab-menu-project-btn: hsl(0, 0%, 100%);
  --bg-kebab-menu-project-btn-hover: hsl(240, 2%, 95%);
  /* btn-kebab-edit-project and .btn-kebab-delete-project */
  --bg-kebab-edit-delete-project-btn: hsl(0, 0%, 100%);
  --bg-kebab-edit-delete-project-btn-hover: hsl(240, 2%, 95%);
  /* .btn-confirm-project-edit .btn-cancel-project-edit  */
  --bg-confirm-cancel-project-edit-btn: hsl(240, 0%, 100%);
  --bg-confirm-cancel-project-edit-btn-hover: hsl(240, 2%, 95%);
  /* .btn-confirm-create-todo .btn-cancel-create-todo */
  --bg-confirm-cancel-create-todo-btn: hsl(240, 2%, 100%);
  --bg-confirm-cancel-create-todo-btn-hover: hsl(240, 2%, 95%);
  /* .todo-div-kebab (parent of button) */
  --bg-todo-kebab-btn: hsl(240, 0%, 100%);
  --bg-todo-kebab-btn-hover: hsl(240, 2%, 95%);
  /* .btn-kebab-edit .btn-kebab-delete */
  --bg-todo-kebab-edit-delete-btn: hsl(0, 0%, 100%);
  --bg-todo-kebab-edit-delete-btn-hover: hsl(240, 2%, 95%);
  /* .btn-confirm-edit-todo .btn-cancel-edit-todo */
  --bg-confirm-edit-todo-btn: hsl(240, 0%, 100%);
  --bg-confirm-edit-todo-btn-hover: hsl(240, 2%, 95%);
  /* .todo.btn-trash */
  --bg-trash-todo-btn: hsl(240, 0%, 100%);
  --bg-trash-todo-btn-hover: hsl(240, 0%, 95%);
}

/* Fallback: older browsers */
input {
  border-radius: 2px;
  border: 1px solid black;
}

/* Modern: only after interaction */
@supports (selector(:user-invalid)) {
  input[type="text"]:user-invalid,
  textarea:user-invalid {
    border-color: red;
  }
  input[type="text"]:user-valid,
  textarea:user-valid {
    border-color: green;
  }
}

/* Fallback: older browsers */
@supports not (selector(user-invalid)) {
  input[type="text"]:invalid,
  textarea:invalid {
    border-color: red;
  }
  input[type="text"]:valid,
  textarea:valid {
    border-color: green;
  }
}

html {
  height: 100%;
}

body {
  min-width: 320px;
  height: 100vh;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  display: grid;
  justify-items: center;
  grid-template-areas:
    "header"
    "project-list"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  gap: 1rem;
  height: 100%;
}

.page-header,
.page-add-project,
.page-project-list,
main,
.page-footer {
  width: 100%;
}

.page-header {
  grid-area: header;
  text-align: center;
  padding: 1rem;
  color: var(--col-header-footer);
  background-color: var(--bg-color-header-footer);
}

.page-header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.fa-tasks {
  font-size: 1.6rem;
}

.page-project-list {
  grid-area: project-list;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  min-width: 320px;
}

.page-project-list h2 {
  color: hsl(215, 67%, 41%);
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  list-style-type: none;
  width: 100%;
  min-height: 0;
  padding-bottom: 60px; /* added so kebab menu of last project has enough space to open  */
}

.li-project {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 4fr auto;
  width: 80%;
  height: 45px;
  border-radius: var(--border-radius);
}

.li-project-edit {
  grid-template-columns: 5fr 1fr 1fr auto;
}

.btn-project {
  width: 100%;
  border: none;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--bg-project-btn);
  transition: background-color 0.3s ease;
}

.activeProject {
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: var(--bg-project-btn-active);
}

.input-project-edit {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 4px;
}

.btn-confirm-project-edit,
.btn-cancel-project-edit {
  border-radius: 4px;
  padding: 0 2px;
  border: 1px solid hsla(0, 0%, 61%, 0.887);
  background-color: var(--bg-confirm-cancel-project-edit-btn);
  transition: background-color 0.3s ease;
}

.project-div-kebab {
  display: flex;
  position: relative;
  min-width: 30px;
}

.btn-kebab-menu-project {
  width: 100%;
  border: 1px solid hsl(0, 1%, 71%);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--bg-kebab-menu-project-btn);
  transition: background-color 0.3s ease;
}

.kebab-menu-list-project {
  list-style-type: none;
  position: absolute;
  z-index: 1000;
  top: 100%;
  right: 0;
  min-width: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid rgb(131, 131, 131);
  background-color: hsl(0, 0%, 100%);
}

.kebab-menu-list-project li:nth-child(1),
.kebab-menu-list-project li:nth-child(3) {
  height: 25px;
}

/* used in kebab project and kebab todo */
.dropdown-divider {
  border: 1px solid hsl(0, 0%, 82%);
}

.btn-kebab-edit-project,
.btn-kebab-delete-project {
  width: 100%;
  height: 20px;
  border: none;
  background-color: var(--bg-kebab-edit-delete-project-btn);
  transition: background-color 0.3s ease;
}

.btn-kebab-edit-project {
  border-radius: 4px 4px 0px 0px;
}

.btn-kebab-delete-project {
  border-radius: 0px 0px 4px 4px;
}

/* for default project */
.kebab-disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}

/* form user input project name */
.li-project-name {
  display: grid;
  grid-template-areas:
    "input-project-name btn-confirm-project btn-cancel-project"
    "create-project-span create-project-span create-project-span";
  grid-template-columns: 3fr 1fr 1fr;
  gap: 0.2rem;
}

.input-project-name {
  grid-area: input-project-name;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 4px;
  height: 45px;
}

.create-project-span {
  grid-area: create-project-span;
}

.btn-confirm-project {
  grid-area: btn-confirm-project;
}

.btn-cancel-project {
  grid-area: btn-cancel-project;
}

.btn-confirm-project,
.btn-cancel-project {
  border-radius: 4px;
  border: 1px solid hsla(0, 0%, 61%, 0.887);
  background-color: var(--bg-confirm-cancel-project-btn);
  transition: background-color 0.3s ease;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 2px solid var(--border-color);
}

main h2 {
  color: hsl(215, 67%, 41%);
}

.container-todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  width: 100%;
  padding-bottom: 60px;
}

.container-add-project-btn,
.container-add-todo-btn {
  display: flex;
  justify-content: center;
}

.btn-add-project,
.btn-add-todo {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  padding: 1rem;
  border-radius: 16px;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: var(--bg-add-btn);
  transition: background-color 0.3s ease;
}

.card {
  display: grid;
  border-radius: var(--border-radius);
  background-color: hsla(232, 23%, 87%, 1);
}

.card-todo {
  grid-template-areas:
    "todo-dueDate todo-priority todo-done todo-div-kebab"
    "todo-title todo-title todo-title todo-btn-trash";
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.card-todo-expanded {
  grid-template-areas:
    "todo-dueDate todo-priority todo-done todo-div-kebab"
    "todo-title todo-title todo-title todo-btn-trash"
    "todo-description todo-description todo-description todo-description";
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.card-create-todo {
  grid-template-areas:
    "create-todo-date create-todo-priority create-todo-buttons"
    "create-todo-title create-todo-title create-todo-title"
    "create-todo-description create-todo-description create-todo-description";
  column-gap: 1rem;
  padding: 1rem;
}

.card-todo-edit {
  grid-template-areas:
    "input-dueDate-edit todo-priority todo-done todo-div-edit-btns"
    "edit-div-title edit-div-title  edit-div-title edit-div-title"
    "edit-div-description edit-div-description edit-div-description edit-div-description";
  align-items: center;
  /* gap: 0.5rem; */
  column-gap: 0.5rem;
  padding: 1rem;
}

.card-todo,
.card-todo-expanded,
.card-todo-editing {
  width: 100%;
  max-width: 400px;

  grid-template-columns: 130px 1fr auto auto;
}

.todo-dueDate {
  grid-area: todo-dueDate;
  white-space: nowrap;
}

/* used in normal and edit mode */
.todo-priority {
  grid-area: todo-priority;
  align-self: start;
  justify-self: center;
  border-radius: 4px;
  background-color: white;
}

/* used in normal and edit mode */
.todo-done {
  grid-area: todo-done;

  width: 20px;
  height: 20px;
  justify-self: end;
  align-self: start;

  border: 1px solid hsl(0, 0%, 41%);
  border-radius: 4px;
  background-color: white;

  position: relative;
  appearance: none;
  transition: all 1.3s;
}

.todo-done:checked {
  border-color: hsl(207, 71%, 46%);
  background-color: hsl(215, 79%, 56%);
}

.todo-done:checked:after {
  content: "✔";
  position: absolute;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  color: hsl(0, 0%, 100%);
  transform: translate(-50%, -50%);
}

/* used in normal and edit mode */
.todo-div-kebab {
  grid-area: todo-div-kebab;

  display: flex;
  justify-content: end;
  position: relative;
  align-self: start;
}

.btn-kebab-menu {
  border: 1px solid grey;
  padding: 1px;
  border-radius: 4px 4px 4px 4px;
  background-color: var(--bg-todo-kebab-btn);
  transition: background-color 0.3s ease;
}

.kebab-menu-list {
  list-style-type: none;
  position: absolute;
  z-index: 1000;
  top: 100%;
  right: 0;
  min-width: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid rgb(131, 131, 131);
  background-color: hsl(0, 0%, 100%);
}

.btn-kebab-edit,
.btn-kebab-delete {
  width: 100%;
  height: 20px;
  border: none;
  background-color: var(--bg-todo-kebab-edit-delete-btn);
  transition: background-color 0.3s ease;
}

.btn-kebab-edit {
  border-radius: 4px 4px 0px 0px;
}
.btn-kebab-delete {
  border-radius: 0px 0px 4px 4px;
}

.todo-title {
  grid-area: todo-title;
  font-weight: bold;

  min-width: 0;
  overflow-wrap: break-word;
}

.todo-description {
  grid-area: todo-description;
  min-width: 0;
  overflow-wrap: break-word;
}

.todo-btn-trash {
  grid-area: todo-btn-trash;
  justify-self: end;
  align-self: end;
  width: 21px;
  height: 21px;
  border-radius: 4px;
  border: 1px solid grey;
  background-color: var(--bg-trash-todo-btn);
  transition: background-color 0.3s ease;
}

/* create new todo form */
.create-todo-div-date {
  grid-area: create-todo-date;

  display: flex;
  flex-direction: column;
  gap: 1px;
}

.create-todo-date {
}

.create-todo-date-span {
}

.create-todo-priority {
  grid-area: create-todo-priority;
  align-self: start;
}

.create-todo-title {
  grid-area: create-todo-title;

  display: flex;
  flex-direction: column;
  gap: 1px;
}

.input-title {
  padding: 0.2rem;
}

.create-todo-title-span {
}

.create-todo-description {
  grid-area: create-todo-description;

  display: flex;
  flex-direction: column;
  gap: 1px;
}

.textarea-description {
  resize: none;
  padding: 0.2rem;
  min-height: 4.2rem;
}

.create-todo-description-span {
}

.create-todo-buttons {
  grid-area: create-todo-buttons;

  align-self: start;
  justify-self: end;

  display: flex;
  gap: 0.2rem;
}

.btn-confirm-create-todo,
.btn-cancel-create-todo {
  padding: 2px;
  border: 1px solid grey;
  background-color: var(--bg-confirm-cancel-create-todo-btn);
  transition: background-color 0.3s ease;
}

/* classes for items in edit mode */
.edit-todo-div-date {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.edit-input-dueDate {
}

.edit-div-title {
  grid-area: edit-div-title;
  display: flex;
  flex-direction: column;
}

.input-title-edit {
  padding: 0.2rem;
}

.edit-div-description {
  grid-area: edit-div-description;

  display: flex;
  flex-direction: column;
}

.textarea-edit-todo {
  resize: none;
  padding: 0.2rem;
  min-height: 4.2rem;
}

.todo-div-edit-btns {
  grid-area: todo-div-edit-btns;
  align-self: start;
  justify-self: end;

  display: flex;
  gap: 0.2rem;
}

.btn-confirm-edit-todo,
.btn-cancel-edit-todo {
  border: 1px solid grey;
  padding: 2px;
  background-color: var(--bg-confirm-edit-todo-btn);
  transition: background-color 0.3s ease;
}

/* page footer */
.page-footer {
  grid-area: footer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--col-header-footer);
  background-color: var(--bg-color-header-footer);
}

.footer-header,
.footer-list,
.footer-name {
  /* border: 1px solid red; */
  /* padding: 0.5rem; */
}

.footer-header {
  font-weight: normal;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
}

.footer-list li {
  display: flex;
  align-items: center;
  /* padding: 2px; */
}

.footer-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}

.fa.fa-twitter::before {
  content: "𝕏";
}

.img-solo-learn {
  width: 26px;
  height: 26px;
}

.footer-name {
  font-size: 0.7rem;
}

.link-text {
  text-decoration: underline;
}

.is-hidden {
  display: none;
}

.checked {
  text-decoration: line-through;
  color: grey;
}

.invalid {
  visibility: hidden;
  color: red;
  font-size: 0.8rem;
}

.is-visible {
  visibility: visible;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background: hsl(0, 0%, 80%);
}

.checkbox-disabled {
  background-color: hsl(0, 0%, 86%);
}

@media (min-width: 768px) {
  main {
    padding-top: 0;
  }

  .main-container {
    grid-template-areas:
      "header header"
      "project-list main"
      "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    max-width: 100%;
  }

  main {
    margin: 0;
    border-top: none;
    border-left: 2px solid var(--border-color);
  }

  .page-project-list {
    min-height: 0;
  }

  .project-list {
  }

  main {
    min-height: 0;
  }

  .container-todos {
  }

  .project-list,
  .container-todos {
    overflow-y: auto;
  }
}

@media (hover: hover) {
  button:hover,
  input:hover,
  select:hover,
  textarea:hover {
    cursor: pointer;
  }

  /* if clicked, card will expand */
  .todo-title:hover {
    cursor: pointer;
  }
  .btn-project:hover {
    background-color: var(--bg-project-btn-hover);
  }

  .btn-project.activeProject:hover {
    background-color: var(--bg-project-btn-active-hover);
  }

  /* kebab menu projects */
  .btn-kebab-menu-project:hover {
    background-color: var(--bg-kebab-menu-project-btn-hover);
  }

  .btn-kebab-edit-project:hover,
  .btn-kebab-delete-project:hover {
    background-color: var(--bg-kebab-edit-delete-project-btn-hover);
  }

  .btn-confirm-project-edit:hover,
  .btn-cancel-project-edit:hover {
    background-color: var(--bg-confirm-cancel-project-edit-btn-hover);
  }

  .btn-add-project:hover,
  .btn-add-todo:hover {
    background-color: var(--bg-add-btn-hover);
  }

  .btn-confirm-project:hover,
  .btn-cancel-project:hover {
    background-color: var(--bg-confirm-cancel-project-btn-hover);
  }
  /* .input-project-name {
    cursor: pointer;
  } */

  .btn-confirm-create-todo:hover,
  .btn-cancel-create-todo:hover {
    background-color: var(--bg-confirm-cancel-create-todo-btn-hover);
  }

  .btn-kebab-menu:hover {
    background-color: var(--bg-todo-kebab-btn-hover);
  }

  .btn-kebab-edit:hover,
  .btn-kebab-delete:hover {
    background-color: var(--bg-todo-kebab-edit-delete-btn-hover);
  }

  .btn-confirm-edit-todo:hover,
  .btn-cancel-edit-todo:hover {
    background-color: var(--bg-confirm-edit-todo-btn-hover);
  }

  .todo-btn-trash:hover {
    background-color: var(--bg-trash-todo-btn-hover);
  }

  .footer-list a:hover {
    transform: scale(1.2);
  }
}
