@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  display: grid;
  justify-items: center;
  grid-template-areas:
    "header"
    "project-list"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  gap: 1rem;
  height: 100%;
}

.page-header,
.page-add-project,
.page-project-list,
main,
.page-footer {
  width: 100%;
}

.page-header {
  grid-area: header;
  background-color: hsl(232, 23%, 87%);
  text-align: center;
  padding: 0.5rem;
}

.page-header h1 {
}

.page-project-list {
  grid-area: project-list;

  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
}

.page-project-list h2 {
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  list-style-type: none;
  width: 100%;
}

.li-project {
  display: flex;
  width: 100%;
  height: 45px;
}

.btn-project {
  flex: 5;
  width: 100%;
  border: none;
  background-color: hsl(240, 2%, 82%);
}

.btn-project-trash {
  flex: 1;
  border:none;
  background-color: hsl(0, 89%, 69%);
}

.btn-project-trash:disabled {
  background-color: hsla(0, 1%, 46%, 0.757);
}

.btn-add-project {
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(125, 88%, 47%);
}

.li-project-name {
  display: flex;
  gap: 0.4rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.li-project-name input {
  flex: 3;
  padding-left: 0.2rem;
  border-radius: 4px;
}

.btn-confirm-project,
.btn-cancel-project {
  flex: 1;
  border: 1px solid hsla(0, 0%, 61%, 0.887);
  border-radius: 4px;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

main {
  grid-area: main;
}

.container-todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.container-add-todo-btn {
  display: flex;
  justify-content: center;
}

.btn-add-todo {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  padding: 1rem;
  border-radius: 16px;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(125, 88%, 47%);
}

.card {
  display: grid;
  width: 90%;
  border-radius: 16px;
  background-color: hsla(232, 23%, 87%, 1);
}

.card-todo {
  grid-template-areas:
    "todo-dueDate todo-priority todo-done todo-div-kebab"
    "todo-title todo-title todo-title todo-btn-trash";
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.card-todo-expanded {
  grid-template-areas:
    "todo-dueDate todo-priority todo-done todo-div-kebab"
    "todo-title todo-title todo-title todo-btn-trash"
    "todo-description todo-description todo-description todo-description";
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.todo-dueDate {
  grid-area: todo-dueDate;
}

.todo-priority {
  grid-area: todo-priority;
}

.todo-done {
  grid-area: todo-done;

  width: 20px;
  height: 20px;
  justify-self: end;
}

.todo-div-kebab {
  grid-area: todo-div-kebab;

  display: flex;
  justify-content: end;
  position: relative;
}

.kebab-menu-list{
  list-style-type: none;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 1%, 82%);
  border-radius: 4px;
}

.kebab-menu-list li {
}

.btn-kebab-edit,
.btn-kebab-delete {
 width: 100%;
 padding: 0.1rem 0.2rem;
}



.todo-title {
  grid-area: todo-title;
  font-weight: bold;
}

.todo-description {
  grid-area: todo-description;
}

.todo-btn-trash {
  grid-area: todo-btn-trash;
  justify-self: end;
  align-self: end;
  border: none;
  width: 20px;
  height: 20px;
}

.card-create-todo {
  grid-template-areas:
    "create-todo-date create-todo-priority"
    "create-todo-title create-todo-title"
    "create-todo-description create-todo-buttons";
  gap: 1rem;
  padding: 1rem;
}

.create-todo-date {
  grid-area: create-todo-date;
}

.create-todo-priority {
  grid-area: create-todo-priority;
}

.create-todo-title {
  grid-area: create-todo-title;

  display: flex;
  flex-direction: column;
}

.input-title {
  padding: 0.2rem;
}

.create-todo-description {
  grid-area: create-todo-description;

  display: flex;
  flex-direction: column;
}

.textarea-description {
  resize: none;
  padding: 0.4rem 0.2rem;
}

.create-todo-buttons {
  grid-area: create-todo-buttons;

  display: flex;
  justify-content: end;
  align-items: end;
  gap: 0.2rem;
}


.btn-confirm-todo {
  /* border: 5px solid red; */
}

.btn-cancel-todo {
  /* border: 5px solid red; */
}

.is-hidden {
  display: none;
}

/* page footer */
.page-footer {
  grid-area: footer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--bg-footer);
}

.footer-header {
  font-weight: normal;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
}

.footer-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.fa.fa-twitter::before {
  content: "ùïè";
}

.img-solo-learn {
  width: 20px;
  height: 20px;
}

.footer-name {
  font-size: 0.8rem;
}

.link-text {
  text-decoration: underline;
}

.activeProject {
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: hsl(215, 83%, 50%);
}

@media (max-width: 480px) {
  body {
    /* border: 1px solid red; */
  }
}
